@import './global.scss';
@import './mixins.scss';

.instructions {
    font-size: 1.25rem;
    text-align: center;
    margin: 0 1.25em;

    @include respond-to("small") {
        font-size: 2.25rem;
    }
}

.main-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ipAddress {
    font-size: 2.5rem;

    @include respond-to("small") {
        font-size: 6rem;
    }
}

.ipAddressInBinary {
    font-size: 0.9rem;

    @include respond-to("small") {
        font-size: 2.3rem;
    }

    @include respond-to("large") {
        font-size: 3.5rem;
    }
}

.horizontal-slider {
    width: 100%;
    max-width: 500px;
    height: 50px;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-image: initial;;
}

.netMaskInBinary {
    position: absolute;
}

.example-thumb {
    height: 25px;
    line-height: 25px;
    width: 2em;
    text-align: center;
    background-color: red;
    border-radius: 50%;
    top: 1.5em;
    // text-align: center;
    // background-color: black;
    // color: black;
    // cursor: none;
}

.netmask {
    font-size: 2rem;

    @include respond-to("small") {
        font-size: 3.6;
    }

    @include respond-to("medium") {
        font-size: 4.6rem;
    }
}